<div class="forgot-container">

  <div class="forgot-card">

    <h2>Forgot Password</h2>

    <p class="subtitle">
      Reset your password using OTP verification
    </p>

    <!-- Phone Number -->

    <div class="form-group">

      <label>Phone Number</label>

      <input
        type="text"
        [(ngModel)]="phoneNumber"
        placeholder="Enter registered phone number">

    </div>

    <button
      class="btn"
      (click)="sendOtp()"
      *ngIf="!otpSent">

      Send OTP

    </button>

    <!-- OTP -->

    <div *ngIf="otpSent">

      <div class="form-group">

        <label>OTP</label>

        <input
          type="text"
          [(ngModel)]="otp"
          placeholder="Enter OTP">

      </div>

      <button
        class="btn"
        (click)="verifyOtp()"
        *ngIf="!otpVerified">

        Verify OTP

      </button>

    </div>

    <!-- New Password -->

    <div *ngIf="otpVerified">

      <div class="form-group">

        <label>New Password</label>

        <input
          type="password"
          [(ngModel)]="newPassword"
          placeholder="Enter new password">

      </div>

      <button
        class="btn success"
        (click)="changePassword()">

        Change Password

      </button>

    </div>

    <p class="message">

      {{message}}

    </p>

  </div>

</div>