nav{

display:flex;

justify-content:space-between;

align-items:center;

padding:18px 70px;

background:white;

box-shadow:0 5px 15px rgba(0,0,0,.08);

position:sticky;

top:0;

z-index:999;

}

.logo{

font-size:28px;

font-weight:bold;

color:#1746d1;

}

ul{

display:flex;

gap:30px;

list-style:none;

align-items:center;

}

a{

text-decoration:none;

font-weight:600;

color:#444;

cursor:pointer;

transition:.3s;

}

a:hover{

color:#1746d1;

}

.user{

font-weight:bold;

color:#1746d1;

}