.container{

padding:60px 8%;

min-height:100vh;

background:#f4f7fb;

}

h1{

margin-bottom:30px;

color:#1746d1;

}

table{

width:100%;

background:white;

border-collapse:collapse;

border-radius:15px;

overflow:hidden;

box-shadow:0 10px 25px rgba(0,0,0,.08);

}

th{

background:#1746d1;

color:white;

padding:18px;

}

td{

padding:18px;

border-bottom:1px solid #eee;

text-align:center;

}

tr:hover{

background:#f9fbff;

}

.active{

background:#dcfce7;

padding:8px 15px;

border-radius:20px;

color:#166534;

font-weight:bold;

}